@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer base {
  h2 {
    @apply lg:text-[54px] md:text-[45px] sm:text-[39px] text-[32px] lg:leading-[64px] md:leading-[55px] sm:leading-[49px] leading-[42px] font-semibold tracking-[-2px] text-primary;
  }
  h4 {
    @apply text-primary/70 leading-[27px] rounded-[50px] border border-[rgb(217,219,223)] px-[20px] py-0 inline-block;
  }
  h6 {
    @apply text-[18px] font-bold tracking-[4px] text-[#07000e] uppercase;
  }
}
.container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.main-menu ul ul {
  transform-origin: top;
  background-color: #fff;
  transform: scaleY(0);
}

.main-menu ul li:hover > ul {
  visibility: visible;
  transition: all 500ms ease;
  opacity: 1;
  transform: scaleY(1);
}

.main-menu ul ul li > a:hover {
  background-color: #4375e7;
  color: #fff;
}

.hero_section_area .hero_contains .sub_heading {
  opacity: 0;
  transform: translateX(200px);
  transition: 0.6s ease-in-out;
}

.is_sticky {
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* slider start */

.btn_wrapper_area.style_5:hover::after {
  width: 100%;
}
.btn_wrapper_area.style_5:hover::before {
  width: 100%;
}

.btn_wrapper_area.style_5::before {
  content: "";
  width: 0%;
  height: 200px;
  position: absolute;
  top: -80px;
  right: -60px;
  background-color: rgb(67, 117, 231);
  z-index: -1;
  transform: rotate(-20deg);
  transition: 1.2s;
}

.btn_wrapper_area.style_5::after {
  content: "";
  width: 0%;
  height: 200px;
  position: absolute;
  top: -70px;
  left: -60px;
  background-color: rgb(67, 117, 231);
  z-index: -1;
  transform: rotate(-20deg);
  transition: 1.2s;
}

.custom-bullet {
  width: 26px;
  height: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-bullet::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #d1d5db; /* gray-300 */
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.custom-bullet-active::before {
  width: 24px;
  height: 24px;
  background-color: #3b82f6; /* blue-500 */
}

.custom-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 9999px;
  transform: translate(-50%, -50%);
}
.working_proces_area .gallery_parent .tab .overly_content_text h6 {
  transform: translateX(-50%);
  transform: rotate(-90deg);
}

/* marque */
.marque {
  animation: Scroll 40s linear infinite;
}
.marque_right {
  animation: rightToLeft 40s linear infinite;
}
@keyframes Scroll {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(50vw);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(-50vw);
  }
}

/* buble */

.bubble::before,
.bubble::after {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  animation: bubble 3s infinite;
}

.bubble::before {
  animation-delay: 0.9s;
  content: "";
  position: absolute;
}

.bubble::after {
  animation-delay: 0.5s;
  content: "";
  position: absolute;
}

@keyframes bubble {
  70% {
    box-shadow: 0 0 0 40px rgba(10, 165, 205, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(10, 165, 205, 0);
  }
}
